Extracting Data from computer with pandas on python

In [1]:
import pandas as pd

In [7]:
df =  pd.read_csv(r"C:\Users\THINKPAD T480s\OneDrive\Desktop\ife\Train new.csv")

In [8]:
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

Choosong Index: Making the Mode of Shipment the index

In [9]:
df =  pd.read_csv(r"C:\Users\THINKPAD T480s\OneDrive\Desktop\ife\Train new.csv",index_col="Mode_of_Shipment")

In [10]:
df

,ID,Warehouse_block,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
Mode_of_Shipment,,,,,,,,,,,
Flight,1,D,4,2,177,3,low,F,44,1233,1
Flight,2,F,4,5,216,2,low,M,59,3088,1
Flight,3,A,2,2,183,4,low,M,48,3374,1
Flight,4,B,3,3,176,4,medium,M,10,1177,1
Flight,5,C,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...
Ship,10995,A,4,1,252,5,medium,F,1,1538,1
Ship,10996,B,4,1,232,5,medium,F,6,1247,0
Ship,10997,C,5,4,242,5,low,F,4,1155,0
Ship,10998,F,5,2,223,6,medium,M,2,1210,0
Ship,10999,D,2,5,155,5,low,F,6,1639,0